{% extends "./inc/base.html" %}
{% load static %}

{% block "user-info" %} 
    {% include "./inc/authorized_user.html" %}
{% endblock %}


{% block "header" %} 
<div class="row align-items-end">
    <div class="col-4">
        <h1>New questions</h1>
    </div>
    <div class="col-4">
        <div class="hot-questions">
            <h1><a href="{% url "hot" %}">Hot questions</a></h1>
        </div>
    </div>
</div>
{% endblock %}

{% block "main-body" %} 
    {% for question in questions %}
        {% include "./inc/question_item.html" %}
    {% endfor %}
{% endblock %}
