{% extends "./inc/base.html" %}


{% block "header" %}
<div class="row">
    <div class="col-4">
        <div style="margin-bottom: 10px">
            <h2>Log In</h2>
        </div>
        <p style="color: red">Sorry, wrong password!</p>
    </div>
</div>  
{% endblock %}

{% block "main-body" %}
<div class="row">
    <div class="col-8">
        <div class="input-group" style="margin-bottom: 10px">
            <label class="input-group-text input-label">Login</label>
            <input type="text" aria-label="login" class="form-control"
            placeholder="input your login...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <label class="input-group-text input-label">Password</label>
            <input type="text" aria-label="password" class="form-control"
            placeholder="input your password...">
        </div>
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px">Login!</button>
            </div>
            <div class="col-8">
                <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-bottom: 10px">Create new account</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block "paginator" %}

{% endblock %}
