{% extends "./inc/base.html" %}

{% load static %}

{% block "header" %}

{% endblock %}

{% block "main-body" %}
<div class="question-asker">
    <div class="row">
        <div class="col-4">
            <div class="question-avatar">
                <img src="{% static "./img/main_green.png" %}" alt="avatar">
            </div>
        </div>
        <div class="col-8">
            <h2><a href="#">{{ question.title }}</a></h2>
            <div class="question-text">{{ question.text }}
            </div>
            <div class="row">
                <div class="col-9">
                    Tags: <a href="{% url "tags" "black_jack" %}">black_jack</a>, <a href="{% url "tags" "black_jack" %}">black_jack</a>
                </div>
                <div class="col-1" style="padding: 0px 0px 20px 0px">
                    <div class="like">
                        <img src="{% static "img/like3.png" %}" alt="like">
                    </div>
                </div>
                <div class="col-1" style="padding-top: 14px; padding-left: 0px">
                    <p class="likes-counter">1</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% for answer in answers %} 
    {% include "./inc/question_answer_item.html" %} 
{% endfor %}

<div class="input-group" style="margin-top: 10px; margin-bottom: 10px">
    <span class="input-group-text">Your answer</span>
    <textarea class="form-control" aria-label="With textarea" rows="7"></textarea>
</div>
<div>
    <button type="button" class="btn btn-dark" style="margin-bottom: 10px">Answer</button>
</div>
{% endblock %}
