{% extends "inc/base.html" %}
{% load static %}


{% block "user-info" %}
    {% include "./inc/authorized_user.html" %}
{% endblock %}

{% block "header" %}

{% endblock %}

{% block "main-body" %}
<div class="row">
    <div class="col-8">
        <div style="margin-bottom: 10px">
            <h2>Settings: Dr.House</h2>
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Login</span>
            <input type="text" aria-label="login" class="form-control"
                   placeholder="input your login...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Email</span>
            <input type="text" aria-label="email" class="form-control"
                   placeholder="input your email...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Nickname</span>
            <input type="text" aria-label="nick-name" class="form-control"
                   placeholder="input your nickname...">
        </div>
    </div>
    <div class="row">
        <div class="upload">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-3" style="width: 9rem;">
                    <span class="input-group-text" style="height: 100%">Upload avatar</span>
                </div>
                <div class="col-2">
                    <div class="avatar-upload">
                        <img src="../static/img/user1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block "paginator" %} 

{% endblock %}
