{% extends "./inc/base.html" %}


{% block "header" %}

{% endblock %}

{% block "main-body" %}
<div class="col-6">
    <div style="margin-bottom: 10px">
        <h2>Registration</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p style="color: red">Sorry, this email address already registered!</p>
        <div class="input-group" style="margin-bottom: 10px">
                    <span class="input-group-text input-label">Login</span>
                    <input type="text" aria-label="login" class="form-control"
                    placeholder="input your login...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Email</span>
            <input type="text" aria-label="email" class="form-control"
                placeholder="input your email...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Nickname</span>
            <input type="text" aria-label="nick-name" class="form-control"
                placeholder="input your nickname...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <span class="input-group-text input-label">Password</span>
            <input type="text" aria-label="password" class="form-control"
                placeholder="input your password...">
        </div>
        <div class="input-group" style="margin-bottom: 10px">
            <label class="input-group-text input-label">Repeat password</label>
            <input type="text" aria-label="Repeat password" class="form-control"
                placeholder="input your password...">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-group" style="margin-bottom: 10px">
                    <span class="input-group-text input-label">Upload avatar</span>
                    <input type="text" aria-label="avatar" class="form-control"
                        placeholder="choose your avatar...">
                    <button type="button" class="btn btn-success">Choose</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-bottom: 10px">
                Register!
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block "paginator" %}

{% endblock %}
