<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="../static/css/mycss.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--        <span class="navbar-toggler-icon"></span>-->
            <!--      </button>-->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!--        <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
                <!--          </li>-->
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link" href="#">Link</a>-->
                <!--          </li>-->
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link disabled">Disabled</a>-->
                <!--          </li>-->
                <!--        </ul>-->
                <div class="row">
                    <div class="col-2">
                        <a class="navbar-brand" href="index.html">AskTask</a>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="search" placeholder="Поиск" aria-label="Search">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-outline-success" type="submit">Спросить</button>
                    </div>
                    <div class="col-5">
                        <div class="user-info">
                            <div class="user-avatar">
                                <img src="../static/img/unknown_user.png" alt="avatar">
                            </div>
                        </div>
                    </div>
                </div>
                <!--        <form class="d-flex" role="search">-->
<!--                <div class="login-field">-->
<!--                    <div class="row">-->
<!--                        <div class="col-3">-->
<!--                            <div class="avatar-login">-->
<!--                                <img src="../static/img/unknown_user.png" alt="avatar">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;          <button class="btn btn-outline-success" type="submit">Ask</button>&ndash;&gt;-->
<!--                    <div class="info-login">-->
<!--                        <div class="row">-->
<!--                            <div class="col-5">-->
<!--                                <p>Dr.House</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--        </form>-->
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">New Questions</h1>
        <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A
            fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main
                &gt; .container</code>.</p>
        <p>Back to <a href="/docs/5.3/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
    <span class="text-body-secondary">
      <button class="btn">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">...</button>
      <button class="btn">53</button>
    </span>
    </div>
</footer>
</body>
</html>
