{% load static %}

<div class="question">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "./img/user1.jpg" %}" alt="avatar">
            </div>
        </div>
        <div class="col-8">
            <h2><a href="{% url "question" question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">{{ question.text }}
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{% url "question" question.id %}">Answers (3)</a>
                </div>
                <div class="col-6">
                    Tags: <a href="tags.html">black_jack</a>, <a href="tags.html">black_jack</a>
                </div>
                <div class="col-1" style="padding: 0px 0px 20px 0px">
                    <div class="like">
                        <img src="{% static "./img/like3.png" %}" alt="like">
                    </div>
                </div>
                <div class="col-1" style="padding-top: 14px; padding-left: 0px">
                    <p class="likes-counter">1</p>
                </div> 
            </div>
        </div>
    </div>
</div>
